<div class="form-input">
    <label for={{name}}> {{> text-label color="secondary" text=placeholder}}</label>
    <input id={{name}} name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{placeholder}}"/>
</div>
